/* ProfileOptions.module.css */
.profileOptions {
    display: flex;
    flex-direction: column;
    align-items: center; /* Align items horizontally at the center */
    justify-content: flex-start; /* Align items vertically at the top */
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .userInfo {
    margin-bottom: 20px;
  }
  
  .options {
    display: flex;
    flex-direction: column;
    align-items: center; /* Align items horizontally at the center */
    width: 100%;
  }
  
  .optionButton {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 0;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    margin-bottom: 10px;
  }
  
  .optionButton:hover {
    background-color: #f5f5f5;
  }
  
  h2, h3 {
    margin: 4px 0;
    text-align: center;
  }
  
  p {
    margin: 4px 0;
    text-align: center;
  }
  
  .followButton {
    background-color: #608f98;
    color: #fff;
    border: 1px solid #608f98;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
  }
  
  .followButton:hover {
    background-color: #4a7078;
  }
  